html {
	background: rgba(133,54,69)
}
.textzone {
	width: 80%;
	color: rgba(246,162,40);
	height: 450px;
	margin: 3em auto;
}

img {
	margin-left: auto;
	margin-right: auto;
}

a.top-menu {
	color: rgba(219,81,58)
}

div.top-menu {
	background-color: rgba(58,55,92,1); 
}

a {
	color:rgba(221,103,46);
}

/* 
(58,55,92)		blue
(133,54,69)		pastel bordeau
(219,81,58)		red-orange
(221,103,46)	orange
(246,162,40) 	gold
*/
